USE [master]
GO
/****** Object:  Database [bankaDeneme]    Script Date: 8.09.2026 10:57:20 ******/
CREATE DATABASE [bankaDeneme]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bankaDeneme', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bankaDeneme.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bankaDeneme_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\bankaDeneme_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bankaDeneme].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bankaDeneme]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8.09.2026 10:57:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[hesap_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_id] [int] NOT NULL,
	[hesap_iban] [char](26) NOT NULL,
	[hesap_parabirimi] [char](3) NULL,
	[hesap_bakiye] [decimal](18, 2) NOT NULL,
	[hesap_olusturulmatarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[hesap_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 8.09.2026 10:57:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[islem_id] [int] IDENTITY(1,1) NOT NULL,
	[gonderen_hesap_id] [int] NOT NULL,
	[alici_hesap_id] [int] NOT NULL,
	[islem_tutar] [decimal](18, 2) NOT NULL,
	[islem_aciklama] [varchar](200) NULL,
	[islem_tarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[islem_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8.09.2026 10:57:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[kullanici_id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_adsoyad] [varchar](100) NOT NULL,
	[kullanici_tc] [char](11) NOT NULL,
	[kullanici_eposta] [varchar](100) NOT NULL,
	[kullanici_sifre] [varchar](255) NOT NULL,
	[kullanici_olusturulmatarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([hesap_id], [kullanici_id], [hesap_iban], [hesap_parabirimi], [hesap_bakiye], [hesap_olusturulmatarihi]) VALUES (1, 1, N'TR120006100511123456789001', N'TRY', CAST(25450.00 AS Decimal(18, 2)), CAST(N'2026-09-08T10:19:30.717' AS DateTime))
INSERT [dbo].[Accounts] ([hesap_id], [kullanici_id], [hesap_iban], [hesap_parabirimi], [hesap_bakiye], [hesap_olusturulmatarihi]) VALUES (2, 1, N'TR120006100511123456789002', N'USD', CAST(1200.50 AS Decimal(18, 2)), CAST(N'2026-09-08T10:19:30.717' AS DateTime))
INSERT [dbo].[Accounts] ([hesap_id], [kullanici_id], [hesap_iban], [hesap_parabirimi], [hesap_bakiye], [hesap_olusturulmatarihi]) VALUES (3, 2, N'TR330006100511987654321001', N'TRY', CAST(5000.00 AS Decimal(18, 2)), CAST(N'2026-09-08T10:20:00.267' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([islem_id], [gonderen_hesap_id], [alici_hesap_id], [islem_tutar], [islem_aciklama], [islem_tarihi]) VALUES (1, 1, 3, CAST(750.00 AS Decimal(18, 2)), N'Kira ödemesi', CAST(N'2026-09-08T10:20:17.373' AS DateTime))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([kullanici_id], [kullanici_adsoyad], [kullanici_tc], [kullanici_eposta], [kullanici_sifre], [kullanici_olusturulmatarihi]) VALUES (1, N'Arda Bilmez', N'12345678901', N'arda.bilmez@corebank.com', N'hashed_pin_6digits_xyz123', CAST(N'2026-09-08T10:18:23.300' AS DateTime))
INSERT [dbo].[Users] ([kullanici_id], [kullanici_adsoyad], [kullanici_tc], [kullanici_eposta], [kullanici_sifre], [kullanici_olusturulmatarihi]) VALUES (2, N'Ahmet Yılmaz', N'98765432109', N'ahmet.yilmaz@corebank.com', N'hashed_pin_6digits_abc456', CAST(N'2026-09-08T10:19:50.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__988264B811161F30]    Script Date: 8.09.2026 10:57:20 ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[hesap_iban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__9FE52B78E5AC1A90]    Script Date: 8.09.2026 10:57:20 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[kullanici_tc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__CA033EDDD139C716]    Script Date: 8.09.2026 10:57:20 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[kullanici_eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0.00)) FOR [hesap_bakiye]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [hesap_olusturulmatarihi]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [islem_tarihi]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [kullanici_olusturulmatarihi]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Users] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[Users] ([kullanici_id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Users]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_ReceiverAccount] FOREIGN KEY([alici_hesap_id])
REFERENCES [dbo].[Accounts] ([hesap_id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_ReceiverAccount]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_SenderAccount] FOREIGN KEY([gonderen_hesap_id])
REFERENCES [dbo].[Accounts] ([hesap_id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_SenderAccount]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  ((len([hesap_iban])=(26)))
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([hesap_parabirimi]='EUR' OR [hesap_parabirimi]='USD' OR [hesap_parabirimi]='TRY'))
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([hesap_bakiye]>=(0)))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([islem_tutar]>(0)))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CK_Dfferent_Accounts] CHECK  (([gonderen_hesap_id]<>[alici_hesap_id]))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CK_Dfferent_Accounts]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  ((len([kullanici_tc])=(11)))
GO
/****** Object:  StoredProcedure [dbo].[sp_ParaTransferi]    Script Date: 8.09.2026 10:57:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ParaTransferi](@gonderen_hesap_id int, @alici_iban char(26), @tutar decimal(18,2), @aciklama varchar(200))
as
begin
declare @gonderen_bakiye decimal(18,2),
@alici_hesap_id int 
select @alici_hesap_id= hesap_id from Accounts where hesap_iban = @alici_iban;
if (@alici_hesap_id is null)
BEGIN
	RAISERROR('Alıcı IBAN bulunamadı.',16,1);
	return;
END
if (@gonderen_hesap_id=@alici_hesap_id)
BEGIN
	RAISERROR('Alıcı ve gönderen aynı olamaz.',16,1);
	return;
END
select @gonderen_bakiye= hesap_bakiye from accounts where hesap_id= @gonderen_hesap_id;

if(@gonderen_bakiye <@tutar)
BEGIN
	RAISERROR('İşlem için yetersiz bakiye.',16,1)
	return;
END

BEGIN TRANSACTION;

	BEGIN TRY

		UPDATE Accounts
		Set hesap_bakiye= hesap_bakiye - @tutar where hesap_id= @gonderen_hesap_id;

		UPDATE Accounts
		Set hesap_bakiye= hesap_bakiye + @tutar where hesap_id= @alici_hesap_id

		insert into Transactions (gonderen_hesap_id, alici_hesap_id, islem_tutar, islem_aciklama)
		values (@gonderen_hesap_id, @alici_hesap_id, @tutar, @aciklama);

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH

		ROLLBACK TRANSACTION;
		THROW;
	END CATCH
END;
GO
USE [master]
GO
